<template>
    <input :type="$type" :class="$text_size $border_color $hover_color $border_radius $text_color border border-solid px-5 outline-none native-textbox box-border w-full hover:shadow" :name="$name" :id="$id" :placeholder="$placeholder" :value="$value" spellcheck="false" autocomplete="off" :disabled="$disabled" :onkeyup="$onkeyup" :onkeydown="$onkeydown" :onkeypress="$onkeypress" :onfocus="$onfocus" :onblur="$onblur">
</template>

<style type="text/css">
.textbox-sm {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}
.textbox-md {
    height: 36px;
    line-height: 36px;
    font-size: 15px;
}
.textbox-lg {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}
</style>