*{
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.15;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border-style: none;
}

ul, 
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}