<template extend="master" title="Dump Data">
    <div class="p-20 font-sans">
        <div class="bg-gray-500 overflow-hidden rounded">
            <div class="p-10 text-white upper-header text-sm">
                <div class="float-left">
                    {{ $file }}
                </div>
                <div class="float-right">
                    line {{ $line }}
                </div>
                <div class="clear-both"></div>
            </div>
            <div class="p-10 dump-text text-sm">
                <pre>{{ $content }}</pre>
            </div>
        </div>
    </div>
</template>

<style type="text/css">
.upper-header {
    background-color: #4c3cb4;
}
.dump-text {
    font-family: 'Courier New', Courier, monospace;
}
</style>