<template>
    <button :id="$id" :class="$background $hover_color $text_color $default $width $weight $border_radius border-0 px-14 box-border outline-none cursor-pointer hover:shadow" :title="$title" :disabled="$disabled" :onclick="$onclick" :style="$style">
        {{ $slot }}
    </button>
</template>

<style type="text/css">
.btn-sm {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.btn-md {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}
.btn-lg {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}
</style>