<template extend="master" title="Welcome to Voyager Framework">
    <div>
        <div class="w-screen h-screen flex flex-col font-sans">
            <div class="mx-auto mt-100">
                <img :src="url('images/voyager.png')">
            </div>
            <div>
                <h1 class="block text-5xl font-hairline text-center mt-40">
                    WELCOME TO VOYAGER FRAMEWORK
                </h1>
                <h3 class="block text-lg font-medium text-center mt-40">
                    unstable @
                        <a href="https://github.com/voyager-php/voyager" target="/" class="text-black">
                            {{ app()->version() }}
                        </a>
                </h3>
            </div>
        </div>
        <div class="w-screen fixed bottom-0 font-sans p-10 text-sm">
            Written by <a href="#" target="/" class="text-blue-700 font-bold">James Levi Crisostomo</a>
        </div>
    </div>
</template>