<template extend="master" title="Voyager Framework">
    <div>
        <div class="w-full h-screen flex flex-col font-sans">
            <div class="mx-auto mt-100 landing-icon-width">
                <a href="https://github.com/voyager-php/voyager" target="/">
                    <img :src="url('images/voyager.png')" class="w-full">
                </a>
            </div>
            <div>
                <h1 class="block text-5xl font-hairline text-center mt-40">
                    voyager framework
                </h1>
                <h3 class="block text-lg font-hairline text-center mt-40">
                        release <a href="https://github.com/voyager-php/voyager/releases/tag/v1.0.8" target="/" class="text-black font-medium">
                            {{ app()->version() }}
                        </a>
                </h3>
            </div>
        </div>
        <div class="w-full fixed bottom-0 font-sans p-10 text-sm box-border">
            <div class="float-left md:float-none md:w-full md:text-center">
                <a href="https://www.linkedin.com/in/jlcrisostomo/" target="/" class="text-blue-700 font-bold">James Levi Crisostomo</a> &copy; {{ date('Y') }}
            </div>
            <div class="float-right text-xs md:float-none md:w-full md:text-center md:mt-5">
                This framework is an open-sourced software licensed under <a href="https://opensource.org/licenses/MIT" target="/" class="text-blue-700">MIT</a> license.
            </div>
        </div>
    </div>
</template>

<style type="text/css">
.landing-icon-width {
    max-width: 250px;
}
</style>