<template extend="master" title="Voyager Framework">
    <div>
        <div class="w-screen h-screen flex flex-col font-sans">
            <div class="mx-auto mt-100 landing-icon-width">
                <a href="https://github.com/voyager-php/voyager" target="/">
                    <img :src="url('images/voyager.png')" class="w-full">
                </a>
            </div>
            <div>
                <h1 class="block text-4xl font-hairline text-center mt-40">
                    VOYAGER FRAMEWORK
                </h1>
                <h3 class="block text-lg font-hairline text-center mt-40">
                    current release <a href="https://github.com/voyager-php/voyager/tree/v1.0.6" target="/" class="text-black font-medium">
                            {{ app()->version() }}
                        </a>
                </h3>
            </div>
        </div>
        <div class="w-screen fixed bottom-0 font-sans p-10 text-sm box-border">
            <div class="float-left">
                Written by <a href="https://www.linkedin.com/in/jlcrisostomo/" target="/" class="text-blue-700 font-bold">James Levi Crisostomo</a>
            </div>
            <div class="float-right text-xs">
                This framework is an open-sourced software licensed under <a href="https://opensource.org/licenses/MIT" target="/" class="text-blue-700">MIT License</a>.
            </div>
        </div>
    </div>
</template>

<style type="text/css">
.landing-icon-width {
    max-width: 250px;
}
</style>